body {
  margin: 0;
  overflow: hidden;
  background: black;
  touch-action: none;
}

#ui {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-family: Arial;
  font-size: 16px;
  z-index: 10;
}

#menu {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  z-index: 20;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background: #00ff88;
  color: black;
  font-weight: bold;
}

button:active {
  transform: scale(0.95);
}
